@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 72, 72, 99;
  --background-end-rgb: 44, 8, 60;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
